.side-bar
  .header-bar
    .header-box
      .user-name
        masa
      .menu
        = link_to "#",class:"edit-link" do
          %i.fas.fa-edit
        = link_to "#",class:"cog-link" do
          %i.fas.fa-cog
  .group-list
    .group
      .group-name
        techcamp
      .group-mesage
        まだメッセージがありません